.banner1 {
  margin-bottom: 60px;
  width: 90%;
  height: 100px;
  background: url("https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fbanners%2F1940%2F4a485a58.jpg&w=1060&q=100")
    no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 14px;
  display: flex;
  align-items: center;
}
.banner1 div {
  flex: start;
  padding-left: 100px;
  color: white;
  font-weight: bolder;
}
.banner1 div strong {
  font-size: 20px;
}
.banner1 div small {
  display: block;
  font-size: 15px;
  margin-top: 10px;
}
.banner2 {
  margin-bottom: 60px;
  width: 90%;
  height: 70px;
  background: radial-gradient(circle, #2463f4, #0083f7, #0a9fee);
  border-radius: 35px;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 16px;
}
.banner3 {
  margin-bottom: 30px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner3_text span {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  align-items: center;
  justify-content: center;
}
.banner3_text :nth-child(3) {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  color: rgba(1, 1, 1, 0.5);
}
.banner_prevBtn {
  width: 45px;
  padding: 5;
  height: 40px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
  padding-left: 2;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
}
.banner_nextBtn {
  width: 45px;
  padding: 5px;
  height: 40px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
  z-index: 2;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
}
